{% extends 'btree_db/base.html' %}
{% load bootstrap5 %}

{% block pageheader %}
    <h2>Choose an operation</h2>
{% endblock pageheader %}

{% block content %}
    <ul class="list-group">
        <li class="list-group-item"><a class="text-decoration-none" href="{% url 'btree_db:insert' %}">Insert</a></li>
        <li class="list-group-item"><a class="text-decoration-none" href="{% url 'btree_db:update' %}">Update</a></li>
        <li class="list-group-item"><a class="text-decoration-none" href="{% url 'btree_db:delete' %}">Delete</a></li>
        <li class="list-group-item"><a class="text-decoration-none" href="{% url 'btree_db:read' %}">Read</a></li>
    </ul>
    <a class="btn btn-primary my-2" role="button" href="{% url 'btree_db:view_all' %}">
        View all
    </a>
    <a class="btn btn-danger my-2" role="button" href="{% url 'btree_db:delete_all' %}">
        Delete all
    </a>
{% endblock content %}
